<h1><%= t('views.common.title_edit', name: Comment.model_name.human) %></h1>

<%= render 'comments/form', commentable: @commentable, comment: @comment %>
<%= link_to t('comments.back', name: Comment.model_name.human), @commentable %>
