<h1><%= t('.title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('defaults.btn_show'), @book %> |
  <%= link_to t('defaults.btn_index'), books_path %>
</nav>
