<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
  <div class="index-item">
    <%= render book %>
    <p>
      <%= link_to "Show this book", book %>
    </p>
  </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to "New book", new_book_path %>
</nav>
